.nav-home {
  font-weight: bold;
}

.env-name {
  color:lightyellow;
  font-size: 14px;
  background-color: olivedrab;
  margin-left: 20px;
  padding: 2px 8px;
  font-weight: bold;
}

.navbar-parent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.report-issue{
  padding-right: 16px;
}