
<div class="navbar-parent navbar-expand-sm bg-dark navbar-dark">
<nav class="navbar" >
  <!-- Links -->

  <ul class="navbar-nav">
    <li [ngClass]="{ 'nav-item': true, active: router.url === '/' }">
      <a class="nav-link nav-home" routerLink="/">Free Text Compare</a>
    </li>
  </ul>
  <span class="navbar-text env-name">
    {{ envName }}
  </span>
</nav>
  <span class="navbar-text report-issue">Report issues @ <a href="mailto:FreeTextCompare@gmail.com">FreeTextCompare@gmail.com</a></span>
</div>
<br />

