
<div class="container">
    <div class="col-md text-center">
        <p>Free Text Compare is an online diff tool that allows you to easily make a text comparison and find the differences between two texts. Just paste the two texts and hit the compare button. 
            The two texts are shown side by side, with differences highlighted. It highlights not the entire line which contains a difference, but only the difference itself. For larger texts, it also has links that allow you to jump from one difference to the next.
            Free Text Compare does not save or share the text you compare. If you have sensitive information to compare, however, it is still recommended to use an offline tool.
            Free Text Compare is provided "as is" with no express or implied warranty for accuracy or accessibility.</p>
    </div>
</div>