<div class="container">
    <div class="col-md text-center">
        <p>
            Free Text Compare is a simple online tool for comparing texts. All the user needs to do is copy their text
            in the appropriate text area and click the compare button. The differences will be highlighted to improve
            the user experience.
            By pressing the "Next Diff" and "Previous Diff" buttons, the user will be able to navigate through huge
            differences.

            Free Text Compare ensures your data is not exposed to anyone, including us. All data is stored locally.
            <br />
            <br />
            We provide Free Text Compare "as is" with no warranties, express or implied, regarding its accuracy or
            accessibility.
        </p>
    </div>
</div>